.input_box{
    
    height: 3rem;
    width: 22.3rem;
    font-size: large;
    color: #39FF14;
    background-color: #121212;
    border: 1px solid #39FF14 ;
  
}
.main_input{
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin: 10px 0 10px 0;
    margin-left: 5px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}